<!-- Création d'un formulaire -->
<section *ngIf="formData">
    <!-- Utilisation de la variable formData dans le formulaire -->
    <form 
        [formGroup]="formData"
        (submit)="submitForm()"
    >
        <input 
            formControlName="email"
            type="email" placeholder="Votre email" minlength="5" required
        >
        <input 
            formControlName="password"
            type="password" placeholder="Votre mot de passe" minlength="5" required
        >

        <button 
            [disabled]="!formData.valid"
            type="submit"
        >Login</button>
    </form>
</section>